# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Environment
.env
.env.local

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel
